body {
  min-height: 100vh;
  background-color: #ffffff;
  margin: 0;
  font-family: Avenir, sans-serif;
}

#bg {
    position: absolute;
    height: 100vh;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
}

form {
  position: absolute;
  padding: 1rem;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  line-height: 2.5;
  z-index: 10;
}

output {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
  min-height: 3rem;
  padding: 1rem;
  font-family: monospace;
}
